.scritte {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #444;
    text-align: center;
  }

.immagini {
    text-align: center;

}
.div {
  text-align: center;

}
.centro {
  text-align: center;
  margin:auto;
  align-items: center;
  display: flex;
}